#instruction-bar {
    color: white;
    overflow: hidden;
    margin: auto;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
}

.upload-bar {
    background-color: black;
    margin: auto;
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.upload-bar .label-class:hover {
    background-color: #ddd;
    color: black;
}

.upload-bar .labels {
    color: white;
    font-style: normal;
}

.upload-bar button {
    color: black;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    
}

#name-of-file {
    display: inline-block;
    background-color: white;
    color: white;
    width: 100%;
}

#error-message-div {
    padding-left: 40%;
}

#error-message {
    color: red;
}