<head>
    <title>Upload Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'css/upload.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/table.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/navigationbar.css' %}>
    <script type="module" src={% static 'js/upload_page/upload.js' %} defer></script>
</head>

<body>
    <div class="navigation-bar">
        <div style="display: inline-block">
            <a id="upload" href="upload">Upload</a>
            <a id="visualize" href="visualize">Visualize</a>
        </div>
        <div id="title" , style="display: inline-block; padding-left: 23%">
            <h2 style="position: relative">EEG Visualization</h2>
        </div>
    </div>

    <div id="instruction-bar">
        <h3>Instructions</h3>
        <p>
            1. Name the scan (alphanumeric characters and underscores allowed) <br>
            2. Upload either a point cloud (.pts) or a JSON file with the positions (.json) <br>
            3. Click the upload button
        </p>
    </div>

    <div class="upload-bar">
            <div style="display: inline-block; padding-left: 5%;">
                <span class="labels" style="display: inline-block;">Scan Name: </span>
            </div>
            
            <div style="display: inline-block; width: 20%">
                <input type="text" id="name-of-file">
            </div>
         
            <input type="file" id="file-input" accept=".pts, .json" style="display: none;">

            <div style="display: inline-block; padding-left: 5%;">
                <button id="file-select-button">Select File</button>
            </div>

            <div style="display: inline-block;">
                <span id="file-name-label" class="labels"></span>
            </div>
            
            <div style="float: right; padding-right: 5%;">
                <button id="upload-button">Upload</button>
            </div>
    </div>

    <div id="table-div">
        <table id="data-table"></table>
    </div>


    <div id="error-message-div">
        <h3 id="error-message"></h3>
    <div>

    


</body>
